# ignore IDE local files
.idea
.project
.pydevproject
.coverage
htmlcov

# ignore temporary files in python code
*/*pyc
*/*json
*/__pycache*

# ignore python compiled code
*pyc
*/*pyc
*/*/*pyc

# ignore local scripts and log output
*bash
*out

# ignore protege temporary files
*catalog*xml

